<div>
  <h2>New Game</h2>
  <form [formGroup]="formNewGame">
    <div>
      <label for="num_player">N° player:</label>
      <input type="text" name="num_player" id="num_player" formControlName="num_player">
    </div>
    <div>
      <label for="key">enter a password:</label>
      <input type="text" name="key" id="key" formControlName="key">
    </div>
    <button type="button" (click)="createGame()" [disabled]="formNewGame.invalid">create game</button>
    <p *ngIf="isCreated">este es tu codigo: {{idGame}}</p>
  </form>
</div>
